CREATE DATABASE HealthcareDB
GO

USE HealthcareDB
GO

CREATE TABLE Users (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    FullName NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) UNIQUE,
    Password NVARCHAR(255),
    Role NVARCHAR(20),
    CreatedAt DATETIME DEFAULT GETDATE()
)
GO

CREATE TABLE Doctors (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    DoctorName NVARCHAR(100) NOT NULL,
    Specialty NVARCHAR(100) NOT NULL,
    LicenseNumber NVARCHAR(20) UNIQUE,
    MaxPatients INT,
    Active BIT DEFAULT 1
)
GO

CREATE TABLE Sessions (
    SessionID NVARCHAR(50) PRIMARY KEY,
    UserID INT,
    Role NVARCHAR(20),
    ExpiresAt DATETIME
)
GO

CREATE TABLE Appointments (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    PatientID INT,
    DoctorID INT,
    BookingDate DATETIME DEFAULT GETDATE(),
    AppointmentDate DATETIME,
    IsCancelled BIT DEFAULT 0
)
GO