@model TravelDataAccess.Models.Trip

<h2>Edit Trip</h2>

<form method="post">
    <input type="hidden" asp-for="TripId" />
    <div>Code <input asp-for="Code" class="form-control" /></div>
    <div>Destination <input asp-for="Destination" class="form-control" /></div>
    <div>Price <input asp-for="Price" class="form-control" /></div>
    <div>Status <input asp-for="Status" class="form-control" /></div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>